@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar.active {
    animation: progress 30s linear;
}

@keyframes progress {
    0% {
        width: 0;
        background: #555;
    }
    66% {
        width: 66%;
        background: #008d14;
    }
    100% {
        width: 100%;
        background: #640000;
    }
}
